### Database
# The password for the database's root user, for administrative purposes only.
MAISON_DB_ROOT_PASSWORD=

### The Unifi controller software.
# The public domain/hostname.
MAISON_NETWORK_DOMAIN=

### openHAB
# The public domain/hostname.
MAISON_HAB_DOMAIN=
# The name of the database to use.
MAISON_HAB_DB_NAME=openhab
# The name of the database user to use.
MAISON_HAB_DB_USERNAME=openhab
# The password for the database user to use.
MAISON_HAB_DB_PASSWORD=

### OLA
# The public domain/hostname.
MAISON_OLA_DOMAIN=
# The universe to patch all devices to.
MAISON_OLA_UNIVERSE=1
# The output device to patch.
MAISON_OLA_OUTPUT_DEVICE=
# The port on the output device to patch.
MAISON_OLA_OUTPUT_PORT=

### VCS
# The public domain/hostname.
MAISON_VCS_DOMAIN=
# The name of the database to use.
MAISON_VCS_DB_NAME=gitea
# The name of the database user to use.
MAISON_VCS_DB_USERNAME=gitea
# The password for the database user to use.
MAISON_VCS_DB_PASSWORD=
# The username of the administrator user to create.
MAISON_VCS_ADMIN_USERNAME=admin
# The password for the administrator user to create.
MAISON_VCS_ADMIN_PASSWORD=
# The email address for the administrator user to create.
MAISON_VCS_ADMIN_EMAIL=

### CI
# The public domain/hostname.
MAISON_CI_DOMAIN=
# The name of the database to use.
MAISON_CI_DB_NAME=drone
# The name of the database user to use.
MAISON_CI_DB_USERNAME=drone
# The password for the database user to use.
MAISON_CI_DB_PASSWORD=
# The username of the Gitea user to use.
MAISON_CI_GITEA_USERNAME=drone
# The password for the Gitea user to use.
MAISON_CI_GITEA_PASSWORD=
# The email address for the Gitea user to use.
MAISON_CI_GITEA_EMAIL=
# The secret used between Drone and its agents.
MAISON_CI_DRONE_SECRET=

### Monitoring
# The public domain/hostname.
MAISON_MONITOR_DOMAIN=
# The username of the administrator user to create.
MAISON_MONITOR_ADMIN_USERNAME=admin
# The password for the administrator user to create.
MAISON_MONITOR_ADMIN_PASSWORD=

### Web server.
# The (preferred) protocol to use for all the web apps.
MAISON_WEB_PROTOCOL=https
