### Docker Compose
/.env

### Data directories.
/services/*/data

### openHAB
# We commit the *.envtpl file instead.
/services/hab/conf/conf/services/jdbc.cfg

### VCS
!/services/vcs/data/gitea
/services/vcs/data/gitea/*
!/services/vcs/data/gitea/conf
# We commit the *.envtpl file instead.
/services/vcs/conf/gitea/app.ini
