version: '3.4'
services:
  db:
    image: 'mariadb:10.3'
    restart: always
    ports:
     - '3306:3306'
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './data/services/db:/var/lib/mysql'
      - './services/db/conf:/etc/mysql/conf.d'
    networks:
      maison:
        aliases:
          - db
    environment:
      MYSQL_ROOT_PASSWORD: '${MAISON_DB_ROOT_PASSWORD}'
  ac-api:
    image: 'oryd/oathkeeper:v1.0.0-beta.8'
    restart: always
    command: 'serve api'
    volumes:
    - '/etc/localtime:/etc/localtime:ro'
    - '/etc/timezone:/etc/timezone:ro'
    networks:
      maison:
        aliases:
          - ac-api
    environment:
      PORT: 4456
      DATABASE_URL: 'mysql://${MAISON_AC_DB_USERNAME}:${MAISON_AC_DB_PASSWORD}@tcp(db:3306)/${MAISON_AC_DB_NAME}'
      CREDENTIALS_ISSUER_ID_TOKEN_HS256_SECRET: '${MAISON_AC_ISSUER_ID_TOKEN_HS256_SECRET}'
    depends_on:
      - db
  ac-proxy:
    image: 'oryd/oathkeeper:v1.0.0-beta.8'
    restart: always
    command: 'serve proxy'
    volumes:
    - '/etc/localtime:/etc/localtime:ro'
    - '/etc/timezone:/etc/timezone:ro'
    networks:
      maison:
        aliases:
          - ac-proxy
    environment:
      DATABASE_URL: 'mysql://${MAISON_AC_DB_USERNAME}:${MAISON_AC_DB_PASSWORD}@tcp(db:3306)/${MAISON_AC_DB_NAME}'
      PORT: 4455
      CREDENTIALS_ISSUER_ID_TOKEN_HS256_SECRET: '${MAISON_AC_ISSUER_ID_TOKEN_HS256_SECRET}'
      OATHKEEPER_API_URL: 'http://ac-api:4456'
    depends_on:
      - db
      - ac-api
  hab:
    image: maison:hab
    build: ./services/hab
    restart: always
    tty: true
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './services/hab/conf/conf:/openhab/conf'
      - './data/services/hab:/openhab/userdata'
      - './services/hab/conf/userdata/etc:/openhab/userdata/etc'
    networks:
      maison:
        aliases:
          - hab
    environment:
      OPENHAB_HTTP_PORT: '8081'
      MAISON_HAB_DB_NAME: '${MAISON_HAB_DB_NAME}'
      MAISON_HAB_DB_USERNAME: '${MAISON_HAB_DB_USERNAME}'
      MAISON_HAB_DB_PASSWORD: '${MAISON_HAB_DB_PASSWORD}'
    depends_on:
      - db
      - ola
  ola:
    image: bartfeenstra/ola:0.1
    restart: always
    expose:
     - '9010'
     - '9090'
    networks:
      maison:
        aliases:
          - ola
    environment:
      OLA_PLUGIN_E131: 1
      OLA_PLUGIN_FTDIDMX: 1
    # The FTDI USB device we need can be (un)mounted at any time, and as any /dev/ttyUSB* device. Because we trust this
    # container, we run it in privileged mode and allow access to any device, so we can choose the right one runtime.
    privileged: true
  vcs:
    image: maison:vcs
    build: ./services/vcs
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './data/services/vcs:/data'
      - './services/vcs/conf/gitea:/data/gitea/conf'
    ports:
      - '222:222'
    networks:
      maison:
        aliases:
          - vcs
    environment:
      MAISON_VCS_DB_NAME: '${MAISON_VCS_DB_NAME}'
      MAISON_VCS_DB_USERNAME: '${MAISON_VCS_DB_USERNAME}'
      MAISON_VCS_DB_PASSWORD: '${MAISON_VCS_DB_PASSWORD}'
      MAISON_WEB_PROTOCOL: '${MAISON_WEB_PROTOCOL}'
    depends_on:
      - db
  ci:
    image: 'drone/drone:0.8'
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
    ports:
      - '9000'
    networks:
      maison:
        aliases:
          - ci
    environment:
      DRONE_OPEN: 'true'
      DRONE_HOST: '${MAISON_WEB_PROTOCOL}://${MAISON_CI_DOMAIN}'
      DRONE_SECRET: '${MAISON_CI_DRONE_SECRET}'
      DRONE_ADMIN: '${MAISON_VCS_ADMIN_USERNAME}'
      DRONE_GITEA: 'true'
      DRONE_GITEA_URL: '${MAISON_WEB_PROTOCOL}://${MAISON_VCS_DOMAIN}'
      DRONE_GITEA_GIT_USERNAME: '${MAISON_CI_GITEA_USERNAME}'
      DRONE_GITEA_GIT_PASSWORD: '${MAISON_CI_GITEA_PASSWORD}'
      DRONE_DATABASE_DRIVER: mysql
      DRONE_DATABASE_DATASOURCE: '${MAISON_CI_DB_USERNAME}:${MAISON_CI_DB_PASSWORD}@tcp(db:3306)/${MAISON_CI_DB_NAME}?parseTime=true'
      GIN_MODE: release
    depends_on:
      - db
      - vcs
  ci-agent:
    image: 'drone/agent:0.8'
    restart: always
    command: agent
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - '/var/run/docker.sock:/var/run/docker.sock'
    networks:
      maison:
        aliases:
          - ci
    environment:
      DRONE_SERVER: ci:9000
      DRONE_SECRET: '${MAISON_CI_DRONE_SECRET}'
    depends_on:
      - ci
  network:
    image: 'jacobalberty/unifi:5.7'
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './data/services/network:/unifi'
    network_mode: host
    environment:
      RUNAS_UID0: 'false'
  web:
    image: maison:web
    build: ./services/web
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
      - './data/services/web/htpasswd:/etc/nginx/htpasswd'
      - './data/services/web/letsencrypt:/etc/letsencrypt'
    expose:
     - '80'
     - '443'
    ports:
     - '80:80'
     - '443:443'
    networks:
      maison:
        aliases:
          - web
          - '${MAISON_NETWORK_DOMAIN}'
          - '${MAISON_HAB_DOMAIN}'
          - '${MAISON_OLA_DOMAIN}'
          - '${MAISON_VCS_DOMAIN}'
          - '${MAISON_CI_DOMAIN}'
    environment:
      MAISON_WEB_PROTOCOL: '${MAISON_WEB_PROTOCOL}'
      MAISON_DOMAINS: '${MAISON_NETWORK_DOMAIN} ${MAISON_HAB_DOMAIN} ${MAISON_OLA_DOMAIN} ${MAISON_VCS_DOMAIN} ${MAISON_CI_DOMAIN}'
      MAISON_NETWORK_DOMAIN: '${MAISON_NETWORK_DOMAIN}'
      MAISON_HAB_DOMAIN: '${MAISON_HAB_DOMAIN}'
      MAISON_OLA_DOMAIN: '${MAISON_OLA_DOMAIN}'
      MAISON_VCS_DOMAIN: '${MAISON_VCS_DOMAIN}'
      MAISON_CI_DOMAIN: '${MAISON_CI_DOMAIN}'
  dns:
    image: maison:dns
    build: ./services/dns
    restart: always
    volumes:
      - '/etc/localtime:/etc/localtime:ro'
      - '/etc/timezone:/etc/timezone:ro'
    ports:
     - '5300:53'
     - '5300:53/udp'
    networks:
      maison:
        aliases:
          - dns
    environment:
      MAISON_DOMAINS: '${MAISON_NETWORK_DOMAIN} ${MAISON_HAB_DOMAIN} ${MAISON_OLA_DOMAIN} ${MAISON_VCS_DOMAIN} ${MAISON_CI_DOMAIN}'
      MAISON_LOCAL_IP: '${MAISON_LOCAL_IP}'
networks:
  maison:
