capitalizeValues="false"
condensedLayout="false"
defaultSitemap="maison"
enableIcons="true"
felix.fileinstall.filename="file:/openhab/userdata/etc/org.eclipse.smarthome.basicui.cfg"
iconType="svg"
org.apache.karaf.features.configKey="org.eclipse.smarthome.basicui"
service.pid="org.eclipse.smarthome.basicui"
theme="default"
