# openHAB.
server {
    server_name {{ MAISON_HAB_DOMAIN }};
    set $maison_domain {{ MAISON_HAB_DOMAIN }};
    include /etc/nginx/conf.d/server-common.conf.mixin;

    location / {
        include /etc/nginx/conf.d/location-auth.conf.mixin;
        include /etc/nginx/conf.d/location-proxy-common.conf.mixin;
        proxy_pass http://openhab:8081;
    }
}