# OLA.
server {
    server_name {{ MAISON_MONITOR_DOMAIN }};
    include /etc/nginx/conf.d/server-common.conf.mixin;

    location / {
        include /etc/nginx/conf.d/location-auth.conf.mixin;
        include /etc/nginx/conf.d/location-proxy-common.conf.mixin;
        proxy_pass http://monitor:3000;
    }
}