# The Unifi controller software.
server {
    server_name {{ MAISON_NETWORK_DOMAIN }};
    set $maison_domain {{ MAISON_NETWORK_DOMAIN }};
    include /etc/nginx/conf.d/server-common.conf.mixin;

    location / {
        include /etc/nginx/conf.d/location-auth.conf.mixin;
        include /etc/nginx/conf.d/location-proxy-common.conf.mixin;
        proxy_pass http://localhost:8080;
    }
}